<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOkuAracLabel">Create or edit a Oku Arac</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!okuArac.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="okuArac.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_kod">Kod</label>
            <input type="text" class="form-control" name="kod" id="field_kod"
                [(ngModel)]="okuArac.kod"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_plaka">Plaka</label>
            <input type="text" class="form-control" name="plaka" id="field_plaka"
                [(ngModel)]="okuArac.plaka"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_marka">Marka</label>
            <input type="text" class="form-control" name="marka" id="field_marka"
                [(ngModel)]="okuArac.marka"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_renk">Renk</label>
            <input type="text" class="form-control" name="renk" id="field_renk"
                [(ngModel)]="okuArac.renk"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
