
<div *ngIf="okuArac">
    <h2><span>Oku Arac</span> {{okuArac.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Kod</span></dt>
        <dd>
            <span>{{okuArac.kod}}</span>
        </dd>
        <dt><span>Plaka</span></dt>
        <dd>
            <span>{{okuArac.plaka}}</span>
        </dd>
        <dt><span>Marka</span></dt>
        <dd>
            <span>{{okuArac.marka}}</span>
        </dd>
        <dt><span>Renk</span></dt>
        <dd>
            <span>{{okuArac.renk}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'oku-arac/'+ okuArac.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
