<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOkuYolcuLabel">Create or edit a Oku Yolcu</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!okuYolcu.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="okuYolcu.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bindiMi">Bindi Mi</label>
            <input type="checkbox" class="form-control" name="bindiMi" id="field_bindiMi"
                [(ngModel)]="okuYolcu.bindiMi"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ulastiMi">Ulasti Mi</label>
            <input type="checkbox" class="form-control" name="ulastiMi" id="field_ulastiMi"
                [(ngModel)]="okuYolcu.ulastiMi"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_sefer">Sefer</label>
            <select class="form-control" id="field_sefer" name="sefer" [(ngModel)]="okuYolcu.sefer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="okuSeferOption.id === okuYolcu.sefer?.id ? okuYolcu.sefer : okuSeferOption" *ngFor="let okuSeferOption of okusefers; trackBy: trackOkuSeferById">{{okuSeferOption.servis}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ogrenci">Ogrenci</label>
            <select class="form-control" id="field_ogrenci" name="ogrenci" [(ngModel)]="okuYolcu.ogrenci" >
                <option [ngValue]="null"></option>
                <option [ngValue]="okuOgrenciOption.id === okuYolcu.ogrenci?.id ? okuYolcu.ogrenci : okuOgrenciOption" *ngFor="let okuOgrenciOption of okuogrencis; trackBy: trackOkuOgrenciById">{{okuOgrenciOption.isim}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
