
<div *ngIf="okuPersonel">
    <h2><span>Oku Personel</span> {{okuPersonel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Kod</span></dt>
        <dd>
            <span>{{okuPersonel.kod}}</span>
        </dd>
        <dt><span>Isim</span></dt>
        <dd>
            <span>{{okuPersonel.isim}}</span>
        </dd>
        <dt><span>Tel</span></dt>
        <dd>
            <span>{{okuPersonel.tel}}</span>
        </dd>
        <dt><span>Oku Okul</span></dt>
        <dd>
            <div *ngIf="okuPersonel.okuOkul">
                <a [routerLink]="['/oku-okul', okuPersonel.okuOkul?.id]">{{okuPersonel.okuOkul?.id}}</a>
            </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{okuPersonel.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'oku-personel/'+ okuPersonel.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
