<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOkuOgrenciLabel">Create or edit a Oku Ogrenci</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!okuOgrenci.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="okuOgrenci.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_no">No</label>
            <input type="text" class="form-control" name="no" id="field_no"
                [(ngModel)]="okuOgrenci.no"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isim">Isim</label>
            <input type="text" class="form-control" name="isim" id="field_isim"
                [(ngModel)]="okuOgrenci.isim"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tc">Tc</label>
            <input type="text" class="form-control" name="tc" id="field_tc"
                [(ngModel)]="okuOgrenci.tc"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_aileIsim">Aile Isim</label>
            <input type="text" class="form-control" name="aileIsim" id="field_aileIsim"
                [(ngModel)]="okuOgrenci.aileIsim"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_aileTel">Aile Tel</label>
            <input type="text" class="form-control" name="aileTel" id="field_aileTel"
                [(ngModel)]="okuOgrenci.aileTel"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_okul">Okul</label>
            <select class="form-control" id="field_okul" name="okul" [(ngModel)]="okuOgrenci.okul" >
                <option [ngValue]="null"></option>
                <option [ngValue]="okuOkulOption.id === okuOgrenci.okul?.id ? okuOgrenci.okul : okuOkulOption" *ngFor="let okuOkulOption of okuokuls; trackBy: trackOkuOkulById">{{okuOkulOption.isim}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_guzergah">Guzergah</label>
            <select class="form-control" id="field_guzergah" name="guzergah" [(ngModel)]="okuOgrenci.guzergah" >
                <option [ngValue]="null"></option>
                <option [ngValue]="okuGuzergahOption.id === okuOgrenci.guzergah?.id ? okuOgrenci.guzergah : okuGuzergahOption" *ngFor="let okuGuzergahOption of okuguzergahs; trackBy: trackOkuGuzergahById">{{okuGuzergahOption.rota}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
